@import "../../modules/_base.scss";
/*List of objects*/
.object-list{
    list-style-type:none;
    padding:0;
    margin:0 -10px; 
    overflow:hidden;

    @include media($tablet){
        margin-bottom:300px; //нижний марджин нужен для того, чтобы при дозагрузке элементов списка не "дергался" зафиксированнный на десктопе фильтр 
    }
}

.object-list.loaded,
.no-js .object-list{
    margin-bottom:0;
}

.object-list__item{
    @extend .g-column;

    @include media($small){
        width:50%;
        &:nth-child(2n+1){
            clear:left;
        }
    }

    @include media($desktop){
        &:nth-child(2n+1){
            clear:none;
        }
        width:(100%/3);
        &:nth-child(3n+1){
            clear:left;
        }
    }
}