@import "../modules/_base.scss";
/*Page*/
.page__section{
    padding:20px 0;
    background:#fff;
    @extend .g-resp-text;

    @include media($tablet){
        padding:30px 0;
    }

    @include media($desktop){
        padding:45px 0;
    }
}

.page__section--alt{
    background:#f2f2f2;
}

.page__section--article{
    b, strong{
        @extend .g-bright-text;
    }
}

/*Page Title*/
.page-title{
    display:block;
    width:90%;
    max-width:768px;
    margin:0 auto 30px;
    font-size:rem(20px);
    font-weight:600;
    text-align:center;
    color:$title-color;
    border-bottom:3px solid $title-color;
    line-height:1.25;

    @include media($tablet){
        @include font-size(24px);
    }
}

.page-title__inner{
    display:inline-block;
    padding:5px 10px;
    background:$primary-alt;
    white-space:nowrap;
    text-overflow:ellipsis;

    @include media($tablet){
        padding:5px 30px;
    }

    @include media($desktop){
        padding:5px 70px;
    }
}

/*Page Grid*/
.page__grid{
    @extend .g-row;
}

.page__col{
    @extend .g-column;
}


.page__grid--2col{
    @include media($tablet){
        .page__col--left{
            width:(100%/3);
        }

        .page__col--main{
            width:2*(100%/3);
        }
    }
    @include media($desktop){
        .page__col--left{
            width:(100%/4);
        }

        .page__col--main{
            width:3*(100%/4);
        }
    }
}

@import "page/_breadcrumbs.scss";
@import "page/_benefits.scss";//инфо-блок с иконками
@import "page/_slider.scss";//слайдер с объектами продажи
@import "page/_object-list.scss";//список объектов
@import "page/_object-item.scss";//блок-объект в списке
@import "page/_page-partners-list.scss"; //список партнеров на странице
@import "page/_scroll-up.scss";//кнопка скролла страницы




