@import "base";
/* Buttons */
.g-btn{
    display:inline-block;
    vertical-align:middle;
    margin-bottom:$project-line-height;
    height:2*$project-line-height;
    line-height:2*$project-line-height - 4;
    padding:0 15px;
    color:#fff;
    text-align: center;
    font-size:rem(16px);
    font-weight:600;
    text-decoration: none;
    text-overflow:ellipsis;
    white-space: nowrap;
    background: $primary;
    border-radius:$border-radius;
    border: 2px solid #000;
    cursor: pointer;
    box-sizing: border-box;
    outline:0;

    @include media($large){
        @include font-size($project-font-size);
    }

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        box-shadow:inset 2px 2px 30px rgba(#000, .1), 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &:active{
        @include transform(translateY(3px));
    }

    &:disabled{
        background:grey;
        box-shadow:none;
    }
}

.g-btn--alt{
    background:$primary-alt;
    color:$title-color !important;
}

.g-clearbutton{
    display:inline-block;
    vertical-align:middle;
    border:none;
    background:none;
    padding:0;
    cursor: pointer;
    text-align:center;
    box-sizing: border-box;
    outline:0;
}


.g-btn--long{
    padding:12px 15px;
    white-space:normal;
    height:auto;
    line-height:1.2;
}

